{% extends 'base.html' %}
{% block content %}
    <h1>List of my Notes</h1>
    <a href="{% url 'notes.create' %}" class="btn btn-primary">Create Note</a>
    <ul>
        <div class="row row-cols-3 p-4">
            {% for note in notes %}
                <div class="col">
                    <div class="p-3 border">
                        <a href="{% url 'notes.detail' pk=note.id %}" class="text-dark text-decoration-none">
                            <h2>{{ note.title }}</h2>
                        </a>
                        <p>{{ note.content|truncatechars:50 }}</p>
                    </div>
                </div>
            {% endfor %}
    </ul>
    </div>
{% endblock %}